# Build directories
build/
out/
cmake-build-*/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
Testing/
compile_commands.json
build

# Compiled objects, libraries and binaries
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe

# Editor / IDE
.idea/
.vs/
.vscode/
*.swp
*~
.DS_Store
